.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;

  /* background-image: url("https://i.ibb.co/cYpRYxR/Screenshot-2023-11-23-131359.png"); */
  background-repeat: no-repeat;

  background-position: center;
  background-size: 70%;
  height: 48rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hide-gif {
  display: none;
}

.load-gif {
  position: absolute;
  top: 100rem;
}

#read-but {
  margin-top: 1.5rem;
  position: absolute;
  top: 40rem;
}
